.slider-container {
    text-align: center;
    z-index: 0;
}

.slider-item {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
}

.slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-container .navigation {
    display: inline;
}

.prev,
.next {
    position: relative;
    top: 350px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    user-select: none;
    flex-direction: row-reverse;

}

.slider-container img {
    filter: brightness(45%);
}

.prev {
    float: left;
    left: 5%;
}

.next {
    right: 5%;
    float: right;
}

/* Animasi */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}