* {
    margin: 0;
    box-sizing: border-box;
    font-family: Lato;
}
nav {
    color: rgb(102, 102, 102);
    display: flex;
    width: auto;
    height: 90px;
    margin: 0px;
    border-radius: 20px 20px  0px 0px;
    justify-content: center;
    padding: 0 30px;
}   
.logo img {
    position: absolute;
}
nav ul {
    display: flex;
    column-gap: 40px;
    align-items: center;
    font-family: Montserrat;
    margin-left: auto;
 }
  li {
    list-style: none;
    font-size: 25px;
    padding-bottom: 5px;
 }
 a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
 li.active, li:hover {
    border-bottom: 4px solid #b3903e;
 }
header {
    background-image: rgb(0, 0, 0);
}
header nav {
    border-radius: 5px 5px 0 0;
    padding-top:15px;
}
header .jumbotron {
    border-radius: 0 0 5px 5px;
}
header {
    color: white;
    background-size: cover;
    border-radius: 5px;

}
.jumbotron {
    height: 500px;
    padding: 170px 100px;
    text-align: center;
}
header .jumbotron h1 {
    font-family: Lato;
    font-size: 60px;
    line-height: 84px;
}

header .jumbotron  {
    font-size: 36px;
}
nav .logo img {
    fill: white;
    height: 100px;
    width: auto;
}
main {
    padding: 20% 5%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
#who, .showcase, #map {
    display: flex;
    justify-content: space-evenly;
}
.text h1 {
    border-bottom: 5px solid #EC9A29;
    width: fit-content;
    margin-bottom: 20px;
}
section p:not(footer section p){
    color: #004d47;
    font-size: 20px;
    width: 457px;
    text-align: justify;
    line-height: 30px;
}

#who .pic {
    align-items: center;
}
#who img {
    object-fit: contain;
    width: 420px;
    border-radius: 20px;
}

.showcase img {
    border-radius: 20px;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.hangout img {
    height: 453px;
    width: 453px;
    border-radius: 20px;
    object-fit: cover;
}

main h1 {
    font-size: 40px;
    font-weight: bold;
    color: #004d47;
    padding-bottom: 5px;
}

#map a {
    color: #EC9A29;
}

#content span, #map span {
    color: #EC9A29;
    border-bottom: 3px solid #EFD26D;
}
.row {
    justify-content: space-between;
    row-gap: 50px;
    display: flex;
    flex-direction: column;
}
#content {
    text-align: center;
}

#content img {
    border-radius: 2px 20px;
    border: 1px solid #696969;
}

.column {
    display: flex;
    justify-content: space-evenly;
}
#content .line {
    background-color: #EFD26D;
    height: 2px;
    width: 300px;
    margin-left: 553px;
    margin-top: 1px;
    margin-bottom: 45px;
}
.ask {
    justify-content: space-evenly;
    text-align: center;
}
.ask p {
    font-size: 24px;
    color:#143642;
     margin-bottom: 10px;
}
.ask a {
    background-color: maroon;
    padding: 10px 20px;
    border-radius: 10px;
        
}
footer {
    background-color:#143642;
    color: white;
    padding: 80px 140px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    column-gap: 150px;
    width: auto;
    justify-content: center;
    font-size: 23px;
 }
 .icon-svg {
    filter: invert(0%);
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    }

.products {
    text-align: left;
    padding: 0px;

}
h4 {
    margin-bottom: 20px;
    font-weight: 700;
}
footer section {
    color: #EFD26D;
}
footer section p {
    color: white;
    margin-bottom: 20px;
    font-weight: 400;
}
.products p {
    width:150px;
}
.contact p {
    width: 200px;
}

